.botonAgendarCita{
    width: 100%;
    text-transform: uppercase;
}

.botonAgendarCita p{
    color: white;
}
.botonAgendarCita a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color:var(--primary);
    border: 2px solid var(--primary);
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
}

.botonAgendarCita a:link{
    color: white;
    text-decoration: white;
}

.botonAgendarCita a:visited{
    color: white;
    text-decoration: white;
}

.botonAgendarCita a{
    width: 200px;
    justify-content: center;
}

.botonAgendarCita img{
    width: 11px;

    transform: rotate(40deg);
}