html, body{
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header{
    background-color: rgb(170, 119, 255);
    /* display: flex;
    justify-content: space-around;
    align-items: baseline; */
}

nav{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Titulo */
nav .titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 1rem;
    padding-right: calc(1rem - 5px);
}

/* Barra de navegacion */
.menu{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-items: center;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline;
    padding: 10px;
}

.menu a:link{
    color: white;
    text-decoration: none;
}

.menu a:visited{
    color:white;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: 3px white underline;
}

.menuHamburguesa{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    display: block;
    width: 2rem;
    height: 2rem;
}

.menuHamburguesa span{
    color: #FFF;
    font-size: 2rem;
}

.menuMobil{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;

    padding-top: 6rem;

    opacity: 0;
    transform: translateY(100%);
    background-color: rgb(170, 119, 255);
    color: #FFF;
    transition: 0.3s;
}

.menuMobil.is-open{
    opacity: 1;
    transform: translateY(0);
}

.menuMobil a{
    display: block;
    padding: 1rem;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.menuMobil a:hover{
    font-size: 1.5rem;
    text-decoration: underline;
}

@media (min-width: 768px){
    .menuMobil, .menuHamburguesa{
        display: none;
    }

    .menu{
        display: flex;
    }
}

 @media (max-width: 940px) {
    .menu{
        font-size: .75rem;
    }
    .titulo{
        font-size: 0.75rem;
    }

}


/* Boton Agendar Cita */
.botonAgendarCita{
    color: white;
    font-weight: bold;
    background-color:rgb(98, 205, 255);
    border: 2px solid white;
    height: 40px;
    border-radius: 20px;
}

.botonAgendarCita a:link{
    color: white;
    text-decoration: white;
}

.botonAgendarCita a:visited{
    color: white;
    text-decoration: white;
}

/* INICIO */

.background-image{
    background-image: url("inicio4.png");
    background-size: cover;
    width: 100%;
}

.background-color{
    background-color: rgba(98, 205, 255, 0.4);
    padding: 100px 0;
    width: 100%;
}


.contenido-inicio{
    color: white;
    width: 100%;
    text-align: center;
} 

.descripcion-inicio{
    width: 60%;
    margin: auto;
}

.botonAgendarCita{
    width: 200px;
    justify-content: center;
}

/* CATALOGO DE PRODUCTOS */
.catalogo h2{
    text-align: center;
}

.productos{
    padding:2rem;
}

.productos > ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.productos > ul > li{
    border: 1px solid #e2e2e2;
    border-radius: .5rem;
    list-style: none;
    box-shadow: 0px 0px 5px #e2e2e2;
}

.productos > ul > li > figure{
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    margin: 0;
}

.imagen-catalogo{
    width: 100%;
}

.productos h2{
    font-size: 1rem;
    color: #666666;
    text-align: center;
}

.botonSeguroVerMas{
    text-align: center;
    padding: 1rem;
}

.botonSeguroVerMas button{
    background-color: rgb(201, 238, 255);
    border: 1px solid #97DEFF;
    height: 30px;
    
}

.botonSeguroVerMas button a:link{
    text-decoration: none;
    color: #666666;
}

.botonSeguroVerMas button a:visited{
    text-decoration: none;
    color: #666666;
}

/* EQUIPO */
.equipo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: rgba(201, 238, 255, 0.4);
    
}

.imagen-equipo{
    width: calc(100% - 40px);
}

.imagen-equipo img{
    width: 100%;
    padding: 40px;
}

.descripcion-equipo{
    width: 80%;
}

/* FOOTER */
footer{
    background-color: rgb(170, 119, 255);
}

footer p{
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-align: right;
}