:root{
    --primary: rgb(170, 119, 255);
    --second: rgb(201, 238, 255);
    --third: rgb(151, 222, 255);
    --fourth: rgb(98, 205, 255);
    --letra1: rgb(54, 69, 79);
    --letra2: rgb(113, 121, 126);
    --letra3: grey;
    --background: rgba(113, 63, 173, 0.62);

    --letraArial: Arial, Helvetica, sans-serif;
    --letraMarca: 'IBM Plex Serif', serif;
}

html {
    scroll-behavior: smooth;
}

html, body{
    margin: 0px;
    padding: 0px;
}

/* .contenido{
    display: grid;
    grid-template-columns: 80% 20%;
    
    grid-gap: 10px;
} */

/* INICIO */
.inicio{
    font-family: var(--letraMarca);
    min-height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.imagen-inicio{
    grid-column: 1/2;

    background-image: url("servicios-intro-min.jpg");
    background-size: cover;
    background-position: center;
}

.contenido-inicio{
    grid-column: 2/3 ;
    
    width: 80%;
    margin: auto;
} 

.slogan-inicio{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;

    font-size: 1rem;
    color: var(--letra1);
}

.slogan-logo{
    background-image: url("logovct.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/2;

    width: 130px;
}



.slogan-texto{
    grid-column: 2/3;
    width: 300px;
}

.descripcion-inicio{
    color: var(--letra2);
    font-size: 1rem;
    text-align: justify;
}


.botonAgendarCita{
    width: 100%;
    /* margin: 10px 0; */
}

.botonAgendarCita a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color:var(--primary);
    border: 2px solid var(--primary);
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
}

.botonAgendarCita a:link{
    color: white;
    text-decoration: white;
}

.botonAgendarCita a:visited{
    color: white;
    text-decoration: white;
}

.botonAgendarCita a{
    width: 200px;
    justify-content: center;
}

.botonAgendarCita img{
    width: 11px;

    transform: rotate(40deg);
}

/* INFORMACION */
/* .informacionSeguros{
     grid-column: 1/2; 

    padding: 15px;
}*/

.informacionSeguros{
    margin: 20px 50px;
}

.informacionSeguros p{
    font-family: var(--letraMarca);
    color: var(--letra1);
}

/* MENU */
.menu-seguros{
    color: var(--letra1);
    font-family: var(--letraMarca);
    font-size: 1.2rem;
    text-align: center;
}

.menu-seguros ul{
    list-style: none;
}

.menu-seguros li{
    display: inline;
}

.menu-seguros a:link{
    color: var(--letra3);
    text-decoration: none;
}

.menu-seguros a:visited{
    color: var(--letra3);
    text-decoration: none;
}

.menu-seguros a:hover{
    color: var(--primary);
}

.menu-seguros li::after{
    content: "\2022";
}

.menu-seguros li:last-of-type::after{
    content: none;
}

/* SEGUROS */
.catalogo-seguros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.seguros{
    display: grid;
    grid-template-rows: 350px auto;
    /* grid-template-rows: min-content auto; */
    /* row-gap: 20px; */

    /* height: 600px; */
    width: 500px;
    

    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--letra2);

    
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 30px;
    

    font-family: var(--letraMarca);
    background-color: rgb(237, 237, 235);
}

.foto-seguro{
    /* grid-column: 2/3; */
    grid-row: 1/2;
    border-radius: 10px;
    
}


.info-seguro{
    grid-row: 2/3;

    color: var(--primary);
    background-color: rgb(237, 237, 235);
    padding: 0px 15px;    
    border-radius: 10px; 
}

.info-seguro h2{
    text-align: center;
}

.info-seguro h3, .info-seguro li{
    color: var(--letra2);
}

.info-seguro p{
    color: white;
}

.info-seguro .botonAgendarCita{
    margin: 10px 0;
}

 /* .titulo-seguro{
     grid-column: 1/2;
     grid-row: 1/2;

     text-align: center;
     color: var(--primary);
    background-color: rgb(237, 237, 235);
    padding: 0px 15px; 
} 

 .descripcion-seguro{ 
     grid-column: 1/2; 
     grid-row: 2/3; 

    color: var(--letra2);
    background-color: rgb(237, 237, 235);
    padding: 0px 15px;
}  */

.vinetaVCT{
    list-style-image: url(vinetaVCT.png);
}

.foto-seguro > div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-inversion{
    background-image: url("paso3-min.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-gastosMedicos{
    background-image: url("medicos.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-educacion{
    background-image: url("seguro-educacion-min.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-autos{
    background-image: url("seguro-auto-min.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-hogar-mascotas{
    background-image: url("seguro-hogar-mascotas-min.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-empresarial{
    background-image: url("empresarial.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-ahorro{
    background-image: url("ahorro.jpg");
    border-radius: 10px 10px 0px 0px;
}

.foto-retiro{
    background-image: url("retiro.jpg");
    border-radius: 10px 10px 0px 0px;
}

/* INFORMACION */
.informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    font-family: var(--letraMarca);
    color: var(--letra1);

    /* background-color: var(--primary); */
    padding-top: 20px;
    margin: 30px 0;
}

.contacto-informacion{
    min-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.contacto-informacion i{
    color: var(--primary);
}

/* FORMA AGENDAR CITA */
.forma-cita{
    max-width: 400px;
}

.borde-forma{
    border: 1px solid var(--primary);
    border-radius: 5px;

    margin: 6px;

    color: var(--letra2);

    display: grid;
    grid-template-columns: max-content auto;
}

.label{
    grid-column: 1/2;

    padding: 6px;
}

.input{
    grid-column: 2/3;

    padding: 6px;
    border-radius: 5px;
}

.borde-forma:focus-within{
    border-color: blue;
}

.borde-forma input{
    border: none;
    outline: none;
}

.label-textarea{
    width: 96%;
    padding: 6px;
}

.textarea{
    padding: 6px;
    border-radius: 5px;
}

.borde-textarea{
    border: 1px solid var(--primary);
    border-radius: 5px;

    margin: 6px;
    padding: 6px;

    color: var(--letra2);
}

.borde-textarea:focus-within{
    border-color: blue;
}

.borde-textarea textarea{
    width: 96%;
    resize: none;
}

.enviar-solicitud{
    width: 100%;
    margin: 0px 6px;
}

.enviar-solicitud input{
    color: white;

    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;

    padding: 10px;

    align-items: center;

    width: 100px;
}

/* FOOTER */
footer{
    background-color: var(--primary);
}

footer p{
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-align: right;
}

/* RESPONSIVE WEBSITE */

/* Contenido se hace mas pequeno antes de que aparezca el menu hambuerguesa */

/* Desaparece menu y se agrupa en menu hamburguesa */
@media (max-width: 812px){
    nav{
        background-color: white;
    }
    .inicio{
        display: flex;
        background-image: url("servicios-intro-min.jpg");
        background-size: cover;
        background-position: center;  
    }
    
    .contenido-inicio{
        display: flex;
        width: 100%;
        margin: 0;
        background-color: var(--background);
        align-items: center;
        text-align: center;
    }

    .slogan-inicio{
        color: white;
        font-size: 0.8rem;
        width: 70%;
        margin: auto;
    }

    .descripcion-inicio{
        color: white;
        font-size: 0.8rem;
        width: 70%;
        margin: auto;
        text-align: justify;
    }

    .botonAgendarCita{
        justify-content: center;
    }
}

/* CUADROS SERVICIOS */
@media (max-width: 975px){
    .seguros{
        grid-template-rows: 300px 1fr;
        grid-template-columns: auto;
        height: auto;
    }

    .foto-seguro{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .info-seguro{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media (max-width: 669px){
    .informacion{
        display: block;
        margin: 30px 20px;
    }

    .mapa-informacion iframe{
        width: 350px !important;
    }
}

@media (max-width: 599px){
    .slogan-logo{
        width: 100px;
    }

    .slogan-logo img{
        margin-top: 20px;
    }

    .slogan-texto{
        width: 200px;
    }

    .slogan-texto p{
        font-size: 0.7rem;
    }
}

@media (max-width: 525px){
    .informacionSeguros{
        margin: 20px 15px;
    }

    .menu-seguros ul{
        padding: 0;
    }

    .catalogo-seguros{
        margin: 25px;
    }
}

@media (max-width: 459px){

    .slogan-logo{
        width: 80px;
    }

    .slogan-logo img{
        margin-top: 24px;
    }

    .slogan-texto{
        width: 180px;
    }

    .slogan-texto p{
        font-size: 0.6rem;
    }

    .menu-seguros{
        font-size: 1rem;
    }
}